<server xmlns="http://mina.apache.org/ftpserver/spring/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://mina.apache.org/ftpserver/spring/v1 http://mina.apache.org/ftpserver/ftpserver-1.0.xsd"
	id="server" max-logins="500" anon-enabled="false" max-anon-logins="123"
	max-login-failures="124" login-failure-delay="125">
	<listeners>
		<nio-listener name="default" port="2222" implicit-ssl="false"
			idle-timeout="60" local-address="127.0.0.1">

			<data-connection idle-timeout="60">
				<active enabled="true" local-port="2323" ip-check="true" />
			</data-connection>
		</nio-listener>

	</listeners>
	<file-user-manager file="user.properties"
		encrypt-passwords="true" />
</server>